* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "abz";
  width: 100%;
}

@font-face {
  font-family: "venecia";
  src: url(../asset/fonts/Philosopher-Regular.ttf);
}
@font-face {
  font-family: "abz";
  src: url(../asset/fonts/ABeeZee-Regular.ttf);
}
header {
  background-color: black;
  color: white;
  width: 100%;
  display: flex;
  padding: 1.25rem 0.625rem 0rem 1.25rem;
  height: 8.625rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-div {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "h1 icono" "search search";
  height: 8.125rem;
}
.header-div .search {
  grid-area: search;
  width: 100%;
  position: relative;
}
.header-div .search form input {
  width: 100%;
  border: solid 0.0625rem white;
  background-color: black;
  border-radius: 0.3125rem;
  height: 2.25rem;
  font-size: 1rem;
  font-family: "venecia";
  padding: 0.625rem;
}
.header-div .search img {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  top: 15%;
  left: 90%;
}
.header-div h1 {
  grid-area: h1;
  font-family: "venecia";
  font-size: 3.125rem;
  font-weight: lighter;
  height: 3.375rem;
}
.header-div .usuario-carrito {
  height: 3.375rem;
  padding-top: 0.8125rem;
  width: 2rem;
  justify-self: end;
  grid-area: icono;
  margin-right: 0.3125rem;
}
.header-div .usuario-carrito img:nth-child(1) {
  display: none;
}

.header-nav {
  padding-top: 1.125rem;
}
.header-nav input {
  display: none;
}
.header-nav input:checked ~ ul {
  left: 0;
}
.header-nav label i img {
  height: 1.75rem;
}
.header-nav ul {
  list-style: none;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
  height: 100vh;
  width: 60%;
  position: fixed;
  left: -100%;
  top: 0;
}
.header-nav ul li a {
  text-decoration: none;
  color: white;
}

.section-1 {
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../asset/img/clothes.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
}
.section-1 h2 {
  font-family: "venecia";
  font-size: 2.25rem;
  width: 21.25rem;
  font-weight: lighter;
  text-align: center;
  opacity: 0.9;
  margin-top: 1.875rem;
}
.section-1 h2 br {
  display: none;
}
.section-1 div {
  display: flex;
  gap: 1.25rem;
}
.section-1 div img {
  width: 8.125rem;
  height: 11.25rem;
}
.section-1 div img:nth-child(3) {
  display: none;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 62.5rem;
  gap: 1.875rem;
}
.section-2 div {
  width: 18.75rem;
  height: 18.75rem;
  position: relative;
}
.section-2 div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.875rem;
  font-weight: bolder;
  color: white;
}

.remera {
  background-image: url("../asset/img/shirt.jpg");
  background-size: cover;
  background-position: center;
}

.pantalones {
  background-image: url("../asset/img/pants.jpg");
  background-size: cover;
  background-position: bottom;
}

.sweaters {
  background-image: url("../asset/img/sweaters.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.9375rem;
  margin: 15px 0;
}
.container .div-inicio {
  display: flex;
}
.container .div-inicio p:nth-child(1) {
  color: gray;
}
.container .cat-linea {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  width: 100%;
}
.container .cat-linea div {
  border-top: 0.0625rem solid grey;
  margin-top: 0.9375rem;
}
.container .cat-linea h2 {
  text-align: center;
  font-size: 1.875rem;
  font-weight: 600;
}

.fil-ord {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}
.fil-ord div p {
  display: none;
}
.fil-ord div form select {
  width: 16.25rem;
  height: 2.5rem;
  font-family: "abz";
  font-size: 1rem;
  border-color: black;
  border-radius: 0.3125rem;
}
.fil-ord form select {
  width: 6.5625rem;
  height: 2.5rem;
  font-family: "abz";
  font-size: 1rem;
  border-color: black;
  border-radius: 0.3125rem;
}

.filtros {
  display: none;
}

.productos {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-bottom: 3rem;
}
.productos div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos div:nth-child(9) {
  display: none;
}
.productos div img {
  width: 80%;
  display: flex;
}
.productos div div {
  height: 4.375rem;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.productos div div p {
  text-align: center;
}
.productos input {
  width: 80%;
  align-self: center;
  background-color: black;
  color: white;
  height: 2.8125rem;
  border-radius: 0.625rem;
}

footer {
  background-color: black;
  color: white;
  height: 28.75rem;
  display: flex;
  flex-direction: column;
  padding-left: 1.25rem;
  gap: 1.875rem;
}
footer div h3 {
  font-size: 1rem;
  margin: 0.625rem 0rem 0.625rem 0rem;
}
footer div ul {
  list-style: none;
}
footer div ul li {
  margin-bottom: 0.625rem;
}
footer div ul li a {
  text-decoration: none;
  color: white;
}
footer div ul li a img {
  height: 1.125rem;
  width: 1.125rem;
}
footer div img {
  margin-right: 0.625rem;
}

@media (min-width: 375px) {
  /*HEADER*/
  .header-div .usuario-carrito {
    width: 4.375rem;
    display: flex;
  }
  .header-div .usuario-carrito img {
    width: 2rem;
    height: 2rem;
  }
  .header-div .usuario-carrito img:nth-child(1) {
    display: block;
  }
  /*main INDEX*/
  .section-1 div img {
    width: 9.375rem;
    height: 12.5rem;
  }
  /*main PRODUCTOS*/
  .productos {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    column-gap: 0.9375rem;
    justify-content: center;
  }
  .productos div img {
    width: 100%;
    height: 17.5rem;
  }
  .productos div div {
    width: 100%;
  }
  .productos div div p {
    font-size: 15px;
  }
  .productos input {
    grid-column: 1/3;
    justify-self: center;
    width: 60%;
  }
}
@media (min-width: 480px) {
  /*HEADER*/
  .header-div h1 {
    font-size: 4rem;
  }
  .header-div .search img {
    left: 94%;
  }
  /*main INDEX*/
  .section-1 {
    height: 30rem;
  }
  .section-1 div {
    gap: 1.75rem;
  }
  .section-1 div img {
    width: 11.625rem;
    height: 15.625rem;
  }
  .section-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 18rem);
    grid-template-areas: "remeras ." ". pantalones" "sweaters .";
    height: 57.5rem;
    align-content: center;
    gap: 0rem;
  }
  .section-2 div {
    width: 100%;
    height: 18rem;
  }
  .section-2 div p {
    font-size: 1.5625rem;
  }
  .remera {
    grid-area: remeras;
  }
  .pantalones {
    grid-area: pantalones;
  }
  .sweaters {
    grid-area: sweaters;
  }
}
@media (min-width: 768px) {
  /*HEADER*/
  header {
    flex-direction: column;
    width: 100%;
    height: 10rem;
    padding: 0;
  }
  .header-div {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 6.25rem;
    width: 100%;
    border-bottom: solid 0.0625rem white;
    gap: 0;
  }
  .header-div .search {
    width: 15.625rem;
    padding-bottom: 0.625rem;
  }
  .header-div .search form input {
    width: 12.5rem;
    margin-left: 0.625rem;
  }
  .header-div .search img {
    left: 75%;
  }
  .header-div h1 {
    width: 15.625rem;
    height: 4.375rem;
    text-align: center;
  }
  .header-div .usuario-carrito {
    width: 15.625rem;
    justify-content: end;
    padding: 0.625rem 0.3125rem 0 0;
  }
  .header-nav {
    padding-top: 0;
  }
  .header-nav input,
  .header-nav label {
    display: none;
  }
  .header-nav ul {
    flex-direction: row;
    left: 0;
    height: 3.75rem;
    position: static;
    width: 100%;
  }
  /*main INDEX*/
  .section-1 div img {
    width: 12.8125rem;
    height: 16.875rem;
  }
  .section-1 div img:nth-child(3) {
    display: block;
  }
  .section-2 {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    grid-template-areas: "remeras pantalones sweaters";
    grid-template-rows: none;
    height: 23.75rem;
  }
  .section-2 div {
    width: 100%;
    height: 17.5rem;
  }
  /*FOOTER*/
  footer {
    flex-direction: row;
    justify-content: space-around;
    height: 14.375rem;
    padding-top: 1.25rem;
  }
}
@media (min-width: 1024px) {
  /*HEADER*/
  .header-div .search {
    width: 16.25rem;
    height: 3.125rem;
  }
  .header-div .search form input {
    width: 16.25rem;
    height: 2.5rem;
  }
  .header-div .search img {
    left: 95%;
    top: 20%;
  }
  .header-div h1 {
    width: 16.25rem;
  }
  .header-div .usuario-carrito {
    width: 16.25rem;
  }
  /*main INICIO*/
  .section-1 {
    flex-direction: row;
    align-items: center;
    gap: 0;
  }
  .section-1 h2 {
    width: 15rem;
    font-size: 2.25rem;
  }
  .section-1 h2 br {
    display: block;
  }
  .section-1 div {
    justify-content: center;
    align-items: center;
  }
  .section-1 div img {
    width: 13.8125rem;
    height: 17.875rem;
  }
  .section-2 {
    height: 25rem;
  }
  .section-2 div {
    height: 20rem;
  }
}
@media (min-width: 1320px) {
  .section-1 h2 {
    font-size: 2.8125rem;
    margin-left: 1.25rem;
  }
  .section-1 div {
    margin-left: 3.125rem;
    gap: 3.125rem;
  }
  .section-1 div img {
    width: 16.875rem;
    height: 23.125rem;
  }
  .section-2 {
    height: 32.125rem;
  }
  .section-2 div {
    height: 23.75rem;
  }
  .section-2 div p {
    font-size: 1.875rem;
  }
}

/*# sourceMappingURL=style.css.map */
